class: center, middle


# Building Single Page Applications in Elm 
## Arian Van Putten
### Haskell Exchange 2016

---
# What is Elm?

* A language for building web apps
* Functional
* Similar in syntax to haskell



---

# The Elm Architecture
.pull-left[
* Model
* Update
* View
]

---

# Basic Example
.pull-left[
```elm
{% include 'code/Counter.elm' %}
```
]
.pull-right[
<iframe class="executed" src="code/Counter.elm.html"></iframe>
]

