{% macro codesidebyside(path) -%}
.pull-left[
```elm
{% include path %}
```
]
.pull-right[

<iframe class="executed" src="{{ path }}.html"></iframe>
]
{%- endmacro %}

{% macro code(path) -%}
```elm
{% include path %}
```
{%- endmacro %}

class: center, middle


# Building Single Page Applications in Elm 
## Arian Van Putten
### Haskell Exchange 2016

---
# What is Elm?

* A language for building web apps
* Functional
* Similar in syntax to haskell



---

# The Elm Architecture
.pull-left[
* Model
* Update
* View
]

---

# Basic Example

{{ codesidebyside('code/Counter.elm') }}

---

# Yo  there
{{ code('code/Counter.elm') }}
